.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:aquamarine;
    height: 100vh;
    
  }
  .charts {
    width: 50%;
    height: 300px;
    margin: 20px;
    padding: 10px;
  }
  .linecharts{
    background-color: azure;
    border-radius: 10px;
    padding-bottom: 10px;
    margin: 10px;
  }
  .barcharts{
    background-color: azure;
    border-radius: 10px;  
    margin: 10px;
  }
  @media only screen and (max-width: 500px) {
    .charts {
      width: 100%;
    }
  }
  @media only screen and (max-width: 700px) and (min-width:500px) {
    .charts {
      width: 70%;
    }
  }
  