.container {
      display: flex;
      flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:aquamarine;
    height: 110vh;
  }
  .charts {
    width: 50%;
    height: 300px;
    margin: 20px;
  }
  .linecharts{
    background-color: azure;
    border-radius: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  .barcharts{
    background-color: azure;
    border-radius: 10px;  
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  @media (max-width: 768px) {
    .charts {
      flex: 1 0 100%;
    }
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    .charts {
      flex: 1 0 50%;
    }
  }